body {
    font-family: 'Roboto', 'Open Sans', 'Lato', Arial, sans-serif; /* Updated font */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333; /* Updated text color */
}

header {
    background: #0056B3; /* Updated background color */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline; /* Added hover effect */
}

main {
    padding: 20px;
    flex: 1;
    background: #F4F5F7; /* Updated background color */
}

section {
    margin-bottom: 20px;
}

footer {
    background: #0056B3; /* Updated background color */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Added border */
    border-radius: 4px; /* Added border radius */
}

form input[type="submit"] {
    margin-top: 20px;
    background: #0056B3; /* Updated button color */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px; /* Added border radius */
}

form input[type="submit"]:hover {
    background: #003f7f; /* Updated hover color */
}

/* Responsive Design */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    form input, form textarea {
        font-size: 1rem;
        padding: 10px;
    }

    form input[type="submit"] {
        padding: 10px;
        font-size: 1rem;
    }
}
